::ng-deep .mat-form-field {
  font-size: 14px;
}

.container .card {
  background-color: #ffffff;
  border-radius: 1rem;
}

button mat-icon {
  font-size: 20px;
  vertical-align: middle;
}
.pd{
  margin-top: 3px;


}