
<div class="row" #more>
  @defer(on viewport(more)){ 
    @for (service of services; track service.id) {
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <mat-card
          class="service-card"
          [ngClass]="{ 'selected': selectedServiceId === service.id }"
          (click)="selectService(service.id , service.name)"
        >
          <mat-card-header>
            <div mat-card-avatar class="service-avatar-wrapper">
              <img
                [src]="service.imageDir || serviceDefaultImage"
                alt="Service Image"
                class="service-avatar"
              />
            </div>
            <mat-card-title>{{ service.name }}</mat-card-title>
            <mat-card-subtitle>
              <i class="bi bi-person-fill me-1"></i>
              {{ service.role }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <mat-icon class="me-1 icon-muted">description</mat-icon>
              {{ service.description }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    }
    @empty {
      <p class="text-muted">No services found.</p>
    }
  }
  @placeholder{<h1>Loading …</h1>}
  @error { <h1 class="danger">Load data failure </h1> } 
  </div>